<html><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

<title>Lock Screen -</title>

<link rel="stylesheet" href="{{url_for('static',filename='assets/css/bootstrap.min.css')}}">

<link rel="stylesheet" href="{{url_for('static',filename='assets/plugins/fontawesome/css/fontawesome.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='assets/plugins/fontawesome/css/all.min.css')}}">

<link rel="stylesheet" href="{{url_for('static',filename='assets/css/line-awesome.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='assets/css/material.css')}}">

<link rel="stylesheet" href="{{url_for('static',filename='assets/css/font-awesome.min.css')}}">

<link rel="stylesheet" href="{{url_for('static',filename='assets/css/line-awesome.min.css')}}">

<link rel="stylesheet" href="{{url_for('static',filename='assets/css/font-awesome.min.css')}}">

<link rel="stylesheet" href="{{url_for('static',filename='assets/css/style.css')}}">
</head>
</head>

<body class="error-page">

<div class="main-wrapper">
<div class="error-box">
<h1>500</h1>
<h3><i class="fa fa-warning"></i> Oops! Something went wrong!</h3>
<p>An internal server error occured.</p>
<a href="admin-dashboard.html" class="btn btn-custom">Back to Home</a>
</div>
</div>


<script src="{{url_for('static',filename='assets/js/jquery-3.6.0.min.js')}}"></script>

<script src="{{url_for('static',filename='assets/js/bootstrap.bundle.min.js')}}"></script>

<script src="{{url_for('static',filename='assets/js/layout.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/theme-settings.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/greedynav.js')}}"></script>

<script src="{{url_for('static',filename='assets/js/app.js')}}"></script>

<div class="sidebar-overlay"></div></body>
</html>