<html><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

<title>Lock Screen -</title>

<link rel="stylesheet" href="{{url_for('static',filename='assets/css/bootstrap.min.css')}}">

<link rel="stylesheet" href="{{url_for('static',filename='assets/plugins/fontawesome/css/fontawesome.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='assets/plugins/fontawesome/css/all.min.css')}}">

<link rel="stylesheet" href="{{url_for('static',filename='assets/css/line-awesome.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='assets/css/material.css')}}">

<link rel="stylesheet" href="{{url_for('static',filename='assets/css/font-awesome.min.css')}}">

<link rel="stylesheet" href="{{url_for('static',filename='assets/css/line-awesome.min.css')}}">

<link rel="stylesheet" href="{{url_for('static',filename='assets/css/font-awesome.min.css')}}">

<link rel="stylesheet" href="{{url_for('static',filename='assets/css/style.css')}}">
</head>
</head>
<body class="account-page">

<div class="main-wrapper">
<div class="account-content">
<div class="container">

<div class="account-logo">
<a href="admin-dashboard.html"><img src="{{url_for('static',filename='assets/img/logo2.png')}}" alt="Dreamguy's Technologies"></a>
</div>

<div class="account-box">
<div class="account-wrapper">

<div class="lock-user">
<img alt="" src="{{url_for('static',filename='assets/img/profiles/avatar-02.jpg')}}" class="rounded-circle">
<h4>John Doe</h4>
</div>


<form action="admin-dashboard.html">
<div class="form-group">
<label>Password</label>
<input class="form-control" type="password">
</div>
<div class="form-group text-center">
<button class="btn btn-primary account-btn" type="submit">Enter</button>
</div>
<div class="account-footer">
<p>Sign in as a different user? <a href="login.html">Login</a></p>
</div>
</form>

</div>
</div>
</div>
</div>
</div>

<script src="{{url_for('static',filename='assets/js/jquery-3.6.0.min.js')}}"></script>

<script src="{{url_for('static',filename='assets/js/bootstrap.bundle.min.js')}}"></script>

<script src="{{url_for('static',filename='assets/js/layout.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/theme-settings.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/greedynav.js')}}"></script>

<script src="{{url_for('static',filename='assets/js/app.js')}}"></script>


<div class="sidebar-overlay"></div></body></html>