{%extends 'index.html'%}
{%block content%}

<div class="content container-fluid">

<div class="page-header">
<div class="row">
<div class="col-sm-12">
<h3 class="page-title">Performance</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="admin-dashboard.html">Dashboard</a></li>
<li class="breadcrumb-item active">Performance</li>
</ul>
</div>
</div>
</div>

<section class="review-section information">
<div class="review-header text-center">
<h3 class="review-title">Employee Basic Information</h3>
<p class="text-muted">Lorem ipsum dollar</p>
</div>
<div class="row">
<div class="col-md-12 col-sm-12">
<div class="table-responsive">
<table class="table table-bordered table-nowrap review-table mb-0">
<tbody>
<tr>
<td>
<form>
<div class="form-group">
<label for="name">Name</label>
<input type="text" class="form-control" id="name">
</div>
<div class="form-group">
<label for="depart3">Department</label>
<input type="text" class="form-control" id="depart3">
</div>
<div class="form-group">
<label for="departa">Designation</label>
<input type="text" class="form-control" id="departa">
</div>
<div class="form-group">
<label for="qualif">Qualification: </label>
<input type="text" class="form-control" id="qualif">
</div>
</form>
</td>
<td>
<form>
<div class="form-group">
<label for="doj">Emp ID</label>
<input type="text" class="form-control" value="DGT-009">
</div>
<div class="form-group">
<label for="doj">Date of Join</label>
<input type="text" class="form-control" id="doj">
</div>
<div class="form-group">
<label for="doc">Date of Confirmation</label>
<input type="text" class="form-control" id="doc">
</div>
<div class="form-group">
<label for="qualif1">Previous years of Exp</label>
<input type="text" class="form-control" id="qualif1">
</div>
</form>
</td>
<td>
<form>
<div class="form-group">
<label for="name1"> RO's Name</label>
<input type="text" class="form-control" id="name1">
</div>
<div class="form-group">
<label for="depart1"> RO Designation: </label>
<input type="text" class="form-control" id="depart1">
</div>
</form>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</section>
<section class="review-section professional-excellence">
<div class="review-header text-center">
<h3 class="review-title">Professional Excellence</h3>
<p class="text-muted">Lorem ipsum dollar</p>
</div>
<div class="row">
<div class="col-md-12">
<div class="table-responsive">
<table class="table table-bordered review-table mb-0">
<thead>
<tr>
<th style="width:40px;">#</th>
<th>Key Result Area</th>
<th>Key Performance Indicators</th>
<th>Weightage</th>
<th>Percentage achieved <br>( self Score )</th>
<th>Points Scored <br>( self )</th>
<th>Percentage achieved <br>( RO's Score )</th>
<th>Points Scored <br>( RO )</th>
</tr>
</thead>
<tbody>
<tr>
<td rowspan="2">1</td>
<td rowspan="2">Production</td>
<td>Quality</td>
<td><input type="text" class="form-control" readonly="" value="30"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
</tr>
<tr>
<td>TAT (turn around time)</td>
<td><input type="text" class="form-control" readonly="" value="30"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
</tr>
<tr>
<td>2</td>
<td>Process Improvement</td>
<td>PMS,New Ideas</td>
<td><input type="text" class="form-control" readonly="" value="10"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
</tr>
<tr>
<td>3</td>
<td>Team Management</td>
<td>Team Productivity,dynaics,attendance,attrition</td>
<td><input type="text" class="form-control" readonly="" value="5"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
</tr>
<tr>
<td>4</td>
<td>Knowledge Sharing</td>
<td>Sharing the knowledge for team productivity </td>
<td><input type="text" class="form-control" readonly="" value="5"></td>
 <td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
</tr>
<tr>
<td>5</td>
<td>Reporting and Communication</td>
<td>Emails/Calls/Reports and Other Communication</td>
<td><input type="text" class="form-control" readonly="" value="5"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
</tr>
<tr>
<td colspan="3" class="text-center">Total </td>
<td><input type="text" class="form-control" readonly="" value="85"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</section>
<section class="review-section personal-excellence">
<div class="review-header text-center">
<h3 class="review-title">Personal Excellence</h3>
<p class="text-muted">Lorem ipsum dollar</p>
</div>
<div class="row">
<div class="col-md-12">
<div class="table-responsive">
<table class="table table-bordered review-table mb-0">
<thead>
<tr>
<th style="width:40px;">#</th>
<th>Personal Attributes</th>
<th>Key Indicators</th>
<th>Weightage</th>
<th>Percentage achieved <br>( self Score )</th>
<th>Points Scored <br>( self )</th>
<th>Percentage achieved <br>( RO's Score )</th>
<th>Points Scored <br>( RO )</th>
</tr>
</thead>
<tbody>
<tr>
<td rowspan="2">1</td>
<td rowspan="2">Attendance</td>
<td>Planned or Unplanned Leaves</td>
<td><input type="text" class="form-control" readonly="" value="2"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
</tr>
<tr>
<td>Time Consciousness</td>
<td><input type="text" class="form-control" readonly="" value="2"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
</tr>
<tr>
<td rowspan="2">2</td>
<td rowspan="2">Attitude &amp; Behavior</td>
<td>Team Collaboration</td>
<td><input type="text" class="form-control" readonly="" value="2"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
</tr>
<tr>
<td>Professionalism &amp; Responsiveness</td>
<td><input type="text" class="form-control" readonly="" value="2"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
</tr>
<tr>
<td>3</td>
<td>Policy &amp; Procedures </td>
<td>Adherence to policies and procedures</td>
<td><input type="text" class="form-control" readonly="" value="2"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
</tr>
<tr>
<td>4</td>
<td>Initiatives</td>
<td>Special Efforts, Suggestions,Ideas,etc.</td>
<td><input type="text" class="form-control" readonly="" value="2"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
</tr>
<tr>
<td>5</td>
<td>Continuous Skill Improvement</td>
<td>Preparedness to move to next level &amp; Training utilization</td>
<td><input type="text" class="form-control" readonly="" value="3"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
</tr>
<tr>
<td colspan="3" class="text-center">Total </td>
<td><input type="text" class="form-control" readonly="" value="15"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
<td><input type="text" class="form-control" readonly="" value="0"></td>
</tr>
<tr>
<td colspan="3" class="text-center"><b>Total Percentage(%)</b></td>
<td colspan="5" class="text-center"><input type="text" class="form-control" readonly="" value="0"></td>
</tr>
<tr>
<td colspan="8" class="text-center">
<div class="grade-span">
<h4>Grade</h4>
<span class="badge bg-inverse-danger">Below 65 Poor</span>
<span class="badge bg-inverse-warning">65-74 Average</span>
<span class="badge bg-inverse-info">75-84 Satisfactory</span>
<span class="badge bg-inverse-purple">85-92 Good</span>
<span class="badge bg-inverse-success">Above 92 Excellent</span>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</section>
<section class="review-section">
<div class="review-header text-center">
<h3 class="review-title">Special Initiatives, Achievements, contributions if any</h3>
<p class="text-muted">Lorem ipsum dollar</p>
</div>
<div class="row">
<div class="col-md-12">
<div class="table-responsive">
<table class="table table-bordered table-review review-table mb-0" id="table_achievements">
<thead>
<tr>
<th style="width:40px;">#</th>
<th>By Self</th>
<th>RO's Comment</th>
<th>HOD's Comment</th>
<th style="width: 64px;"><button type="button" class="btn btn-primary btn-add-row"><i class="fa fa-plus"></i></button></th>
</tr>
</thead>
<tbody id="table_achievements_tbody">
<tr>
<td>1</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td></td>
</tr>
<tr>
<td>2</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td></td>
</tr>
<tr>
<td>3</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td></td>
</tr>
<tr>
<td>4</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td></td>
</tr>
<tr>
<td>5</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</section>
<section class="review-section">
<div class="review-header text-center">
<h3 class="review-title">Comments on the role</h3>
<p class="text-muted">alterations if any requirred like addition/deletion of responsibilities</p>
</div>
<div class="row">
<div class="col-md-12">
<div class="table-responsive">
<table class="table table-bordered table-review review-table mb-0" id="table_alterations">
<thead>
<tr>
<th style="width:40px;">#</th>
<th>By Self</th>
<th>RO's Comment</th>
<th>HOD's Comment</th>
<th style="width: 64px;"><button type="button" class="btn btn-primary btn-add-row"><i class="fa fa-plus"></i></button></th>
</tr>
</thead>
<tbody id="table_alterations_tbody">
<tr>
<td>1</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td></td>
</tr>
<tr>
<td>2</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td></td>
</tr>
<tr>
<td>3</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td></td>
</tr>
<tr>
<td>4</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td></td>
</tr>
<tr>
<td>5</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</section>
<section class="review-section">
<div class="review-header text-center">
<h3 class="review-title">Comments on the role</h3>
<p class="text-muted">alterations if any requirred like addition/deletion of responsibilities</p>
</div>
<div class="row">
<div class="col-md-12">
<div class="table-responsive">
<table class="table table-bordered review-table mb-0">
<thead>
<tr>
<th style="width:40px;">#</th>
<th>Strengths</th>
<th>Area's for Improvement</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
</tr>
<tr>
<td>2</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
</tr>
<tr>
<td>3</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
</tr>
<tr>
<td>4</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
</tr>
<tr>
<td>5</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</section>
<section class="review-section">
<div class="review-header text-center">
<h3 class="review-title">Appraisee's Strengths and Areas for Improvement perceived by the Reporting officer</h3>
<p class="text-muted">Lorem ipsum dollar</p>
</div>
<div class="row">
<div class="col-md-12">
<div class="table-responsive">
<table class="table table-bordered review-table mb-0">
<thead>
<tr>
<th style="width:40px;">#</th>
<th>Strengths</th>
<th>Area's for Improvement</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
</tr>
<tr>
<td>2</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
</tr>
<tr>
<td>3</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</section>
<section class="review-section">
<div class="review-header text-center">
<h3 class="review-title">Appraisee's Strengths and Areas for Improvement perceived by the Head of the Department</h3>
<p class="text-muted">Lorem ipsum dollar</p>
</div>
<div class="row">
<div class="col-md-12">
<div class="table-responsive">
<table class="table table-bordered review-table mb-0">
<thead>
<tr>
<th style="width:40px;">#</th>
<th>Strengths</th>
<th>Area's for Improvement</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
</tr>
<tr>
<td>2</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
</tr>
<tr>
<td>3</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</section>
<section class="review-section">
<div class="review-header text-center">
<h3 class="review-title">Personal Goals</h3>
<p class="text-muted">Lorem ipsum dollar</p>
</div>
<div class="row">
<div class="col-md-12">
<div class="table-responsive">
<table class="table table-bordered review-table mb-0">
<thead>
<tr>
<th style="width:40px;">#</th>
<th>Goal Achieved during last year</th>
<th>Goal set for current year</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
</tr>
<tr>
<td>2</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
</tr>
<tr>
<td>3</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</section>
<section class="review-section">
<div class="review-header text-center">
<h3 class="review-title">Personal Updates</h3>
<p class="text-muted">Lorem ipsum dollar</p>
</div>
<div class="row">
<div class="col-md-12">
<div class="table-responsive">
<table class="table table-bordered review-table mb-0">
<thead>
<tr>
<th style="width:40px;">#</th>
<th>Last Year</th>
<th>Yes/No</th>
<th>Details</th>
<th>Current Year</th>
<th>Yes/No</th>
<th>Details</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>Married/Engaged?</td>
<td>
<select class="form-control select select2-hidden-accessible" data-select2-id="select2-data-1-d2qi" tabindex="-1" aria-hidden="true">
<option data-select2-id="select2-data-3-lxqp">Select</option>
<option>Yes</option>
<option>No</option>
</select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-2-f4ht" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-trl8-container" aria-controls="select2-trl8-container"><span class="select2-selection__rendered" id="select2-trl8-container" role="textbox" aria-readonly="true" title="Select">Select</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
</td>
<td><input type="text" class="form-control"></td>
<td>Marriage Plans</td>
<td>
<select class="form-control select select2-hidden-accessible" data-select2-id="select2-data-4-iasj" tabindex="-1" aria-hidden="true">
<option data-select2-id="select2-data-6-uti8">Select</option>
<option>Yes</option>
<option>No</option>
</select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-5-u6rq" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-arfb-container" aria-controls="select2-arfb-container"><span class="select2-selection__rendered" id="select2-arfb-container" role="textbox" aria-readonly="true" title="Select">Select</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
</td>
<td><input type="text" class="form-control"></td>
</tr>
<tr>
<td>2</td>
<td>Higher Studies/Certifications?</td>
<td>
<select class="form-control select select2-hidden-accessible" data-select2-id="select2-data-7-5wex" tabindex="-1" aria-hidden="true">
<option data-select2-id="select2-data-9-uxkq">Select</option>
<option>Yes</option>
<option>No</option>
</select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-8-bkqo" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-b81q-container" aria-controls="select2-b81q-container"><span class="select2-selection__rendered" id="select2-b81q-container" role="textbox" aria-readonly="true" title="Select">Select</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
</td>
<td><input type="text" class="form-control"></td>
<td>Plans For Higher Study</td>
<td>
<select class="form-control select select2-hidden-accessible" data-select2-id="select2-data-10-303n" tabindex="-1" aria-hidden="true">
<option data-select2-id="select2-data-12-7eu2">Select</option>
<option>Yes</option>
<option>No</option>
</select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-11-6655" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-rgvb-container" aria-controls="select2-rgvb-container"><span class="select2-selection__rendered" id="select2-rgvb-container" role="textbox" aria-readonly="true" title="Select">Select</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
</td>
<td><input type="text" class="form-control"></td>
</tr>
<tr>
<td>2</td>
<td>Health Issues?</td>
<td>
<select class="form-control select select2-hidden-accessible" data-select2-id="select2-data-13-17sj" tabindex="-1" aria-hidden="true">
<option data-select2-id="select2-data-15-66ue">Select</option>
<option>Yes</option>
<option>No</option>
</select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-14-6mqp" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-vzk6-container" aria-controls="select2-vzk6-container"><span class="select2-selection__rendered" id="select2-vzk6-container" role="textbox" aria-readonly="true" title="Select">Select</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
</td>
<td><input type="text" class="form-control"></td>
<td>Certification Plans</td>
<td>
<select class="form-control select select2-hidden-accessible" data-select2-id="select2-data-16-29zp" tabindex="-1" aria-hidden="true">
<option data-select2-id="select2-data-18-aouj">Select</option>
<option>Yes</option>
<option>No</option>
</select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-17-ijsg" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-ter5-container" aria-controls="select2-ter5-container"><span class="select2-selection__rendered" id="select2-ter5-container" role="textbox" aria-readonly="true" title="Select">Select</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
</td>
<td><input type="text" class="form-control"></td>
</tr>
<tr>
 <td>2</td>
<td>Others</td>
<td>
<select class="form-control select select2-hidden-accessible" data-select2-id="select2-data-19-7pc0" tabindex="-1" aria-hidden="true">
<option data-select2-id="select2-data-21-74gf">Select</option>
<option>Yes</option>
<option>No</option>
</select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-20-ivkz" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-ek42-container" aria-controls="select2-ek42-container"><span class="select2-selection__rendered" id="select2-ek42-container" role="textbox" aria-readonly="true" title="Select">Select</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
</td>
<td><input type="text" class="form-control"></td>
<td>Others</td>
<td>
<select class="form-control select select2-hidden-accessible" data-select2-id="select2-data-22-793b" tabindex="-1" aria-hidden="true">
<option data-select2-id="select2-data-24-829q">Select</option>
<option>Yes</option>
<option>No</option>
</select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-23-21cj" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-z5g6-container" aria-controls="select2-z5g6-container"><span class="select2-selection__rendered" id="select2-z5g6-container" role="textbox" aria-readonly="true" title="Select">Select</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
</td>
<td><input type="text" class="form-control"></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</section>
<section class="review-section">
<div class="review-header text-center">
<h3 class="review-title">Professional Goals Achieved for last year</h3>
<p class="text-muted">Lorem ipsum dollar</p>
</div>
<div class="row">
<div class="col-md-12">
<div class="table-responsive">
<table class="table table-bordered table-review review-table mb-0" id="table_goals">
<thead>
<tr>
<th style="width:40px;">#</th>
<th>By Self</th>
<th>RO's Comment</th>
<th>HOD's Comment</th>
<th style="width: 64px;"><button type="button" class="btn btn-primary btn-add-row"><i class="fa fa-plus"></i></button></th>
</tr>
</thead>
<tbody id="table_goals_tbody">
<tr>
<td>1</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td></td>
</tr>
<tr>
<td>2</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td></td>
</tr>
<tr>
<td>3</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td></td>
</tr>
<tr>
<td>4</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td></td>
</tr>
<tr>
<td>5</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</section>
<section class="review-section">
<div class="review-header text-center">
<h3 class="review-title">Professional Goals for the forthcoming year</h3>
<p class="text-muted">Lorem ipsum dollar</p>
</div>
<div class="row">
<div class="col-md-12">
<div class="table-responsive">
<table class="table table-bordered table-review review-table mb-0" id="table_forthcoming">
<thead>
<tr>
<th style="width:40px;">#</th>
<th>By Self</th>
<th>RO's Comment</th>
<th>HOD's Comment</th>
<th style="width: 64px;"><button type="button" class="btn btn-primary btn-add-row"><i class="fa fa-plus"></i></button></th>
</tr>
</thead>
<tbody id="table_forthcoming_tbody">
<tr>
<td>1</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td></td>
</tr>
<tr>
<td>2</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td></td>
</tr>
<tr>
<td>3</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td></td>
</tr>
<tr>
<td>4</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td></td>
</tr>
<tr>
<td>5</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</section>
<section class="review-section">
<div class="review-header text-center">
<h3 class="review-title">Training Requirements</h3>
<p class="text-muted">if any to achieve the Performance Standard Targets completely</p>
</div>
<div class="row">
<div class="col-md-12">
<div class="table-responsive">
<table class="table table-bordered table-review review-table mb-0" id="table_targets">
<thead>
<tr>
<th style="width:40px;">#</th>
<th>By Self</th>
<th>RO's Comment</th>
<th>HOD's Comment</th>
<th style="width: 64px;"><button type="button" class="btn btn-primary btn-add-row"><i class="fa fa-plus"></i></button></th>
</tr>
</thead>
<tbody id="table_targets_tbody">
<tr>
<td>1</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td></td>
</tr>
<tr>
<td>2</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td></td>
</tr>
<tr>
<td>3</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td></td>
</tr>
<tr>
<td>4</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td></td>
</tr>
<tr>
<td>5</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</section>
<section class="review-section">
<div class="review-header text-center">
<h3 class="review-title">Any other general comments, observations, suggestions etc.</h3>
<p class="text-muted">Lorem ipsum dollar</p>
</div>
<div class="row">
<div class="col-md-12">
<div class="table-responsive">
<table class="table table-bordered table-review review-table mb-0" id="general_comments">
<thead>
<tr>
  <th style="width:40px;">#</th>
<th>Self</th>
<th>RO</th>
<th>HOD</th>
<th style="width: 64px;"><button type="button" class="btn btn-primary btn-add-row"><i class="fa fa-plus"></i></button></th>
</tr>
</thead>
<tbody id="general_comments_tbody">
<tr>
<td>1</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td></td>
</tr>
<tr>
<td>2</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td></td>
</tr>
<tr>
<td>3</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td></td>
</tr>
<tr>
<td>4</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td></td>
</tr>
<tr>
<td>5</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</section>
<section class="review-section">
<div class="review-header text-center">
<h3 class="review-title">For RO's Use Only</h3>
<p class="text-muted">Lorem ipsum dollar</p>
</div>
<div class="row">
<div class="col-md-12">
<div class="table-responsive">
<table class="table table-bordered review-table mb-0">
<thead>
<tr>
<th></th>
<th>Yes/No</th>
<th>If Yes - Details</th>
</tr>
</thead>
<tbody>
<tr>
<td>The Team member has Work related Issues</td>
<td>
<select class="form-control select select2-hidden-accessible" data-select2-id="select2-data-25-yx34" tabindex="-1" aria-hidden="true">
<option data-select2-id="select2-data-27-g0i7">Select</option>
<option>Yes</option>
<option>No</option>
</select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-26-x2vo" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-9ir3-container" aria-controls="select2-9ir3-container"><span class="select2-selection__rendered" id="select2-9ir3-container" role="textbox" aria-readonly="true" title="Select">Select</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
</td>
<td><input type="text" class="form-control"></td>
</tr>
<tr>
<td>The Team member has Leave Issues</td>
<td>
<select class="form-control select select2-hidden-accessible" data-select2-id="select2-data-28-70ig" tabindex="-1" aria-hidden="true">
<option data-select2-id="select2-data-30-b7z5">Select</option>
<option>Yes</option>
<option>No</option>
</select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-29-vwag" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-nprs-container" aria-controls="select2-nprs-container"><span class="select2-selection__rendered" id="select2-nprs-container" role="textbox" aria-readonly="true" title="Select">Select</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
</td>
<td><input type="text" class="form-control"></td>
</tr>
<tr>
<td>The team member has Stability Issues</td>
<td>
<select class="form-control select select2-hidden-accessible" data-select2-id="select2-data-31-uiuq" tabindex="-1" aria-hidden="true">
<option data-select2-id="select2-data-33-8vrl">Select</option>
<option>Yes</option>
<option>No</option>
</select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-32-3tlp" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-23ib-container" aria-controls="select2-23ib-container"><span class="select2-selection__rendered" id="select2-23ib-container" role="textbox" aria-readonly="true" title="Select">Select</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
</td>
<td><input type="text" class="form-control"></td>
</tr>
<tr>
<td>The Team member exhibits non-supportive attitude</td>
<td>
<select class="form-control select select2-hidden-accessible" data-select2-id="select2-data-34-bgw9" tabindex="-1" aria-hidden="true">
<option data-select2-id="select2-data-36-srov">Select</option>
<option>Yes</option>
<option>No</option>
</select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-35-ecso" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-dvj7-container" aria-controls="select2-dvj7-container"><span class="select2-selection__rendered" id="select2-dvj7-container" role="textbox" aria-readonly="true" title="Select">Select</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
</td>
<td><input type="text" class="form-control"></td>
</tr>
<tr>
<td>Any other points in specific to note about the team member</td>
<td>
<select class="form-control select select2-hidden-accessible" data-select2-id="select2-data-37-e3fr" tabindex="-1" aria-hidden="true">
<option data-select2-id="select2-data-39-jska">Select</option>
 <option>Yes</option>
<option>No</option>
</select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-38-v90m" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-cove-container" aria-controls="select2-cove-container"><span class="select2-selection__rendered" id="select2-cove-container" role="textbox" aria-readonly="true" title="Select">Select</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
</td>
<td><input type="text" class="form-control"></td>
</tr>
<tr>
<td>Overall Comment /Performance of the team member</td>
<td>
<select class="form-control select select2-hidden-accessible" data-select2-id="select2-data-40-ci62" tabindex="-1" aria-hidden="true">
<option data-select2-id="select2-data-42-421s">Select</option>
<option>Yes</option>
<option>No</option>
</select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-41-u1o8" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-mbbn-container" aria-controls="select2-mbbn-container"><span class="select2-selection__rendered" id="select2-mbbn-container" role="textbox" aria-readonly="true" title="Select">Select</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
</td>
<td><input type="text" class="form-control"></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</section>
<section class="review-section">
<div class="review-header text-center">
<h3 class="review-title">For HRD's Use Only</h3>
<p class="text-muted">Lorem ipsum dollar</p>
</div>
<div class="row">
<div class="col-md-12">
<div class="table-responsive">
<table class="table table-bordered review-table mb-0">
<thead>
<tr>
<th>Overall Parameters</th>
<th>Available Points</th>
<th>Points Scored</th>
<th>RO's Comment</th>
</tr>
</thead>
<tbody>
<tr>
<td>KRAs Target Achievement Points (will be considered from the overall score specified in this document by the Reporting officer)</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
</tr>
<tr>
<td>Professional Skills Scores(RO's Points furnished in the skill &amp; attitude assessment sheet will be considered)</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
</tr>
<tr>
<td>Personal Skills Scores(RO's Points furnished in the skill &amp; attitude assessment sheet will be considered)</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
</tr>
<tr>
<td>Special Achievements Score (HOD to furnish)</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
</tr>
<tr>
<td>Overall Total Score</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</section>
<div class="row">
<div class="col-md-12">
<div class="table-responsive">
<table class="table table-bordered review-table mb-0">
<thead>
<tr>
<th></th>
<th>Name</th>
<th>Signature</th>
<th>Date</th>
</tr>
</thead>
<tbody>
<tr>
<td>Employee</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
</tr>
<tr>
<td>Reporting Officer</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
</tr>
<tr>
<td>HOD</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
 <td><input type="text" class="form-control"></td>
</tr>
<tr>
<td>HRD</td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
<td><input type="text" class="form-control"></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
{%endblock%}